.container {
    display: flex;
}

.quote p{
    margin: 0 0 0.5rem;
    font-family: serif;
    font-style: italic;
    font-size: 1.2rem;
    color: #444;
}

.quote span{
    font-size:0.8rem;
    color:#787878;
}

.quote{
    margin : 1rem;
    padding : 1.5rem;
    border-radius: 1rem;
    background-color:#DBEAFE;
}